name: Build traefik image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "traefik/**"
  pull_request:
    branches:
      - main

jobs:
  build_image:
    name: Build traefik image
    uses: ./.github/workflows/docker-publish.yml
    with:
      image_name: traefik
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
