[Unit]
Description=Reapply external NetworkManager connections
After=NetworkManager.service systemd-resolved.service
Wants=systemd-resolved.service
Before=NetworkManager-wait-online.service network-online.target
ConditionPathExists=/usr/bin/nmcli

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/libexec/nm-reapply-external-connections

[Install]
WantedBy=NetworkManager.service
